<input type="text" [(ngModel)]="searchQuery" placeholder="Search pizzas" (input)="filterPizzasByName()">

<h3>Available Pizzas</h3>
<div class="row">
  <ng-container *ngFor="let pizza of filteredPizzas; let i = index">
    <div class="card">
      <h3>{{ pizza.name }}</h3>
      <p>{{ pizza.description }}</p>
      <p>Price: {{ pizza.price | currency:'USD' }}</p>
      <input type="hidden" [(ngModel)]="pizza.id">
      <button (click)="deletePizza(pizza.id)">Delete</button>   
    </div>
    <!-- Add a new row after every 4 items -->
    <div *ngIf="(i + 1) % 4 === 0 || i === filteredPizzas.length - 1" class="clearfix"></div>
  </ng-container>
</div>
